* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: solid 1px;
    margin: 15% auto;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

input[type=submit] {
    padding: 2px 5px;
}