<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/grupo.css">
    <title>Grupo</title>
</head>
<body>
    <main>
        <table>
            <caption>Seu grupo</caption>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                </tr>
            </thead>
            <tbody>
                {% block content %}
                    {% for membro in usuario.membros %}
                        <tr>
                            <td>{{membro.nome.capitalize()}}</td>
                            <td>{{membro.sobrenome.capitalize()}}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
    </main>
</body>
</html>
