<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/relatorio.css">
    <title>Enviar Relatorio</title>
</head>
<body>
    <main>
        {% block content %}
        <div class="titulo">
            <h1>Enviar Relatorio</h1>
        </div>
        <div class="form">
            <form method="post" id="form">
                {% for membro in membros %}
                    <div class="input">
                        <h2>{{ membro.nome.capitalize() }}</h2>
                        <textarea name="{{ membro.nome }}" cols="30" rows="10" form="form"></textarea>
                    </div>
                {% endfor %}
                <div class="input">
                    <label>Semana</label>
                    <input type="number" name="semana" placeholder="1-5" max="5" min="0" style="text-align: center;">
                </div>
                <div class="submit">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
        {% endblock %}
    </main>
</body>
</html>